body{
    color: #ffffff;
    font-family: Georgia, serif;
    background: linear-gradient(0deg,#000000,#003974);
}

.titulo{
    font-size:130px;
    margin: 0%;
}

.titulo2{
    padding-top: 30px;
    font-size:100px;
    margin: 0%;
}


.imagem{
    text-align:left;
    margin: 10px;
    border: 25px;
    padding: 0px;
    border-style: solid;
    border-color: #002348;
    text-align: center;
}

.flex{
    display: flex;
    justify-content: center;
}

.sobreMim{
    display: flex;
    padding-top: 70px;
    padding-bottom: 50px;
    width: 76%;
}

.caixaTexto{
    display: flex;
    flex-direction: column;
    padding-left: 50px;
}

.textoIrformacoes{
    width: 88%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 19px;
}

.Subtitulo{
    font-size:35px;
    margin: 0%;
    padding-top: 8%;
}

.icones{
    width: 65%;
    height: 60px;
    padding-top: 20px;
    padding-left: 80px;
}

.recuo{
    text-indent: 2em;
}

.recuo2{
    text-indent: 10em;
}

.esticadinho{
    background-color: #000000;
    width: 1899px;
    height: 10px;
}
