body{
    color: #ffffff;
    font-family: Georgia, serif;
    background-size: cover;
    background-image:radial-gradient(circle,#000000,#003974), url(../assets/icones/flor.png);
    background-blend-mode: screen;
}

.section1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20%;
}

#busca{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color:#273149;
    border:solid 2px #ffffff;
    border-radius:10px;
    width:40%;
    height:43%;
}

#txtBusca{
    float:left;
    background-color:transparent;
    font-size:40px;
    border:none;
    height:55px;
    width: 75%;
    font-family: Georgia, serif;
}

.zoom-in-out-icn{
    float:left;
    width: 42px;
    height: 42px;
    animation: zoom-in-zoom-out 1s ease infinite;
    border-radius: 0.5rem;
}

@keyframes zoom-in-zoom-out{
  0% {
    scale: 100%
  }
  50% {
    scale: 150%;
  }
  100% {
    scale: 100%;
  }
}

.icnBusca2{
    width: 28px;
    height: 28px;
}
