body{
    color: #ffffff;
    font-family: Georgia, serif;
    background-size: cover;
    background-image:radial-gradient(circle,#000000,#003974) , url(../assets/icones/flor.png);
    background-blend-mode: screen;
}

.section1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20%;
}

#busca{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color:#273149;
    border:solid 2px #ffffff;
    border-radius:10px;
    width:39%;
    height:40%;
}

#txtBusca{
    float:left;
    background-color:transparent;
    font-size:40px;
    border:none;
    height:55px;
    width: 75%;
    font-family: Georgia, serif;
}

.icnBusca1{
    float:left;
    width: 42px;
    height: 42px;
}

.icnBusca2{
    width: 28px;
    height: 28px;
}